/**
 * @Description :墨抒颖
 * @Author :墨抒颖
 * @Date :2019-09-22 23:20:46
 * @LastEditTime :2019-10-03 09:10:49
 * @LastEditors :墨抒颖
 * @Github :https://github.com/moshuying
 * @Gitee :https://gitee.com/moshuying
 * @Blogs :https://blog.csdn.net/qq_34846662
 */

$weatherMainUrl:'https://moshuying.top';
$devMainUrl:'';
:export {
    weatherUrl: $weatherMainUrl;
}